<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>PippoProxyServlet</servlet-name>
		<servlet-class>org.pippo.proxy.WebCachedProxyServlet</servlet-class>
        <init-param>
            <param-name>ENABLE_SESSION_ATTR_KEY_FOR_LOGIN</param-name>
            <param-value>@ENABLE_SESSION_ATTR_KEY_FOR_LOGIN@</param-value>
        </init-param>
        <init-param>
            <param-name>SESSION_ATTR_KEY_FOR_LOGIN</param-name>
            <param-value>@SESSION_ATTR_KEY_FOR_LOGIN@</param-value>
        </init-param>
        <init-param>
            <param-name>CACHE_ENABLED</param-name>
            <param-value>@CACHE_ENABLED@</param-value>
        </init-param>
        <init-param>
            <param-name>CACHE_TIMEOUT</param-name>
            <param-value>@CACHE_TIMEOUT@</param-value>
        </init-param>
        <init-param>
            <param-name>CACHE_MAX_MEMORY_SIZE</param-name>
            <param-value>@CACHE_MAX_MEMORY_SIZE@</param-value>
        </init-param>
        <init-param>
            <param-name>CACHE_MAX_DISK_SIZE</param-name>
            <param-value>@CACHE_MAX_DISK_SIZE@</param-value>
        </init-param>
        <init-param>
            <param-name>CACHE_PATH_DIR</param-name>
            <param-value>@CACHE_PATH_DIR@</param-value>
        </init-param>
        <init-param>
            <param-name>IS_ROOT</param-name>
            <param-value>@IS_ROOT@</param-value>
        </init-param>
        <init-param>
            <param-name>REMOTE_PREFIX</param-name>
            <param-value>@REMOTE_PREFIX@</param-value>
        </init-param>
         <init-param>
            <param-name>LOCAL_PREFIX</param-name>
            <param-value>@LOCAL_PREFIX@</param-value>
        </init-param>
        <init-param>
            <param-name>NOT_ALLOWED_HEADERS</param-name>
            <param-value>@NOT_ALLOWED_HEADERS@</param-value>
        </init-param>
        <init-param>
            <param-name>PROXY_ENABLED</param-name>
            <param-value>@PROXY_ENABLED@</param-value>
        </init-param>
        <init-param>
            <param-name>PROXY_HOST</param-name>
            <param-value>@PROXY_HOST@</param-value>
        </init-param>
        <init-param>
            <param-name>PROXY_PORT</param-name>
            <param-value>@PROXY_PORT@</param-value>
        </init-param>
        <init-param>
            <param-name>PROTOCOL</param-name>
            <param-value>@PROTOCOL@</param-value>
        </init-param>
        <init-param>
            <param-name>REMOTE_HOST</param-name>
            <param-value>@REMOTE_HOST@</param-value>
        </init-param>
        <init-param>
            <param-name>REMOTE_PORT</param-name>
            <param-value>@REMOTE_PORT@</param-value>
        </init-param>
        <init-param>
            <param-name>INIT_CONNECTION</param-name>
            <param-value>@INIT_CONNECTION@</param-value>
        </init-param>
        <init-param>
            <param-name>MAX_CONNECTION</param-name>
            <param-value>@MAX_CONNECTION@</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PippoProxyServlet</servlet-name>
		<url-pattern>@LOCAL_PREFIX@/*</url-pattern>
	</servlet-mapping>
</web-app>
